*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#navbar {
    font-size: 62.5%;
    overflow: hidden;
    font-family: Arial;
    position: fixed;
    top: 0;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 1;
    padding-bottom: 1vh;
}

nav {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
    font-family: Arial;
}
nav .mainMenu li a:hover {
    color: rgb(118, 118, 118);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-github:hover {
    color: rgb(255, 123, 0);
}
nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
}
@media (max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(0, 0, 0);
        transition: top 1s ease 0s;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: rgb(118, 118, 118);
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}

.logo img {
    width: 5rem;
    height: 2rem;
    float: left;
}

.logo { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    align-items: center;
}

#daftar_konser {
    margin-top: 20vh;
    font-family: Arial;
}

#daftar_konser h1 {
    margin-left: 5%;
}

#daftar_konser ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#daftar_konser li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

#daftar_konser img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    object-fit: contain;
    float: left;
}

#daftar_konser li:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

#pencarian {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pencarian input {
    background: none;
    color: white;
}


/* #search {
    border: none;
    border-bottom:#000 1px solid;
    width: 8vw;
} */

#search {
    border: none;
    border-bottom: #ffffff 1px solid;
    width: 8vw;
    padding: 5px;
    box-sizing: border-box;
}
#search:focus {
    outline: none;
}

#searchb {
    background: none;
    padding: 5px 5px 5px 5px;
    border: none;
}

#searchb:hover {
    color: white;
    background-color: rgb(86, 86, 86);
}

/* buat inputdata.php design */
#inputdata {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_input {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.form_input input {
    border: none;
    border-bottom: #000 1px solid;
    background:none;
}

.form_input tr:nth-child(6) input{
    border: none;
}

.form_input input:focus {
    outline: none;
}

.form_input button {
    background: rgb(49, 155, 255);
    color: white;
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 5px;

}

/* buat konser_detail.php */
.konser-detail {
    left: 20px;
    margin-top: 20vh;
    border: #000 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.konser-detail img {
    width: 300px;
    height: 300px;
    margin: 20px;
    object-fit: contain;
    border-radius: 20px;
}